@charset "utf-8";


/*================================================================================================

* LOOP SAMPLE *

================================================================================================*/
.sample-blog-wrap {
	width: 100%;
	padding: 8rem 1rem;
	background: #fafafa;
}

/* アイテム ================================================*/
.sample-blog-wrap a.item {
	width: 31.5%;
	color: rgba(110,110,110,1);
	background: #fff;
	margin-bottom: 2rem;
	overflow: hidden;
}


/* 画像 ================================================*/
.sample-blog-wrap a.item .img {
	width: 100%;
	height: 200px;
}

/* インフォ ================================================*/
.sample-blog-wrap a.item .info {
	width: 100%;
	padding: 2rem 1rem;
	background: #fff;
}

.sample-blog-wrap a.item .info > div {
	width: 100%;
}

/* タイトル ================================================*/
.sample-blog-wrap a.item .info .title h3 {
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #e0e0e0;
}

/* 抜粋 ================================================*/
.sample-blog-wrap .item .info .text p {
	font-size: 0.8rem;
	height: 60px;
	overflow: hidden;
}